$buttonPrimary: #f14921;
$buttonSecondary: #ffffff;
$buttonSecondaryLight: #fafafa;
$buttonSecondaryDark: #2a2a2b;

$textPrimary: #ffffff;
$textPrimaryDark: #2a2a2b;
$textSecondary:#f75f19;
$textTertiary: #c9cacb;

$backgroundPrimary: #ffffff;
$backgroundPrimaryLight: #cbcbcb;
$backgroundPrimaryDark: #2a2a2b;
$backgroundSecondary: #f95625;
$backgroundSecondaryDark: #ec411f;